# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment & IDE
.venv/
env/
venv/
.env
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Logs & Databases
*.log
app/data/*.log
app/data/*.db
